<!-- Begin Apply now Section -->
<section id="apply-now" class="apply-now container content-section">
  <div class="row">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-md-8 col-md-offset-2 text-center">
      <h3>Thank you for applying !</h3>
      <p>
        Thank you for applying in such a great number for the first edition of our CloudbaseLABS workshops in Iași. Unfortunately the application windows has closed, but we’re welcoming you to join us at our next events.
      </p>

      <p>
        Looking forward to hearing from you soon, 
      </p>

      <p>
        Cloudbase Solutions Team
      </p>
</section>
<!-- End Apply now Section -->
