<!-- Begin Apply now Section -->
<section id="apply-now" class="apply-now container content-section">
  <div class="row">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-md-8 col-md-offset-2 text-center">
      <h3>Thank you for applying !</h3>
      <p>
        Thank you for applying in such a big number for the first edition of Cloudbase LABS. Unfortunately, the signup period ended, but we are waiting for you to the next editions of Cloudbase LABS, and also to our next events.
      </p>
      <p>
        The results will be soon announced, just right after the last day of interviews.
      </p>
      <p>
        Hope to see you soon, 
        Cloudbase Solutions Team
      </p>
</section>
<!-- End Apply now Section -->
