<!-- Begin Apply now Section -->
<section id="apply-now" class="apply-now container content-section">
  <div class="row">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-md-8 col-md-offset-2">
      <h3>Apply now to Cloudbase LABS @Iasi</h3>

      <form action="//cloudbase.us12.list-manage.com/subscribe/post?u=ce05e28a1949a6fa80466834d&amp;id=bd6ffd5cfe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" role="form" novalidate>
        <div class="form-group">
          <label for="mce-FNAME" class="control-label col-sm-2">First Name <span class="asterisk">*</span></label>
          <div class="col-sm-10">
            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Enter first name (e.g. Pinguinescu)">
            </div>
          </div>

          <div class="form-group">
            <label for="mce-LNAME" class="control-label col-sm-2">Last Name <span class="asterisk">*</span></label>
            <div class="col-sm-10">
              <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Enter last name (e.g. Tuxy)">
            </div>
          </div>

          <div class="form-group">
            <label for="mce-EMAIL" class="control-label col-sm-2">Email Address <span class="asterisk">*</span></label>
            <div class="col-sm-10">
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Enter email (e.g. tuxy_pinguinescu@example.eu)">
            </div>
          </div>

          <div class="form-group">
            <label for="mce-MMERGE3" class="control-label col-sm-2">Phone Number <span class="asterisk">*</span></label>
            <div class="col-sm-10">
              <input type="text" name="MMERGE3" class="form-control required" value="" id="mce-MMERGE3"  placeholder="Enter phone number (e.g. +04 xxx-xxx-xxx)">
            </div>
          </div>

        <div class="form-group">
          <label for="mce-MMERGE4" class="control-label col-sm-2">Github </label>
          <div class="col-sm-10">
            <input type="url" value="" name="MMERGE4" class="form-control url" id="mce-MMERGE4">
          </div>
        </div>

        <div class="form-group">
          <label for="mce-MMERGE5" class="control-label col-sm-2">Linkedin </label>
          <div class="col-sm-10">
            <input type="url" value="" name="MMERGE5" class="form-control url" id="mce-MMERGE5">
          </div>
        </div>

        <div class="form-group">
          <label for="mce-MMERGE6" class="control-label col-sm-2">CV </label>
          <div class="col-sm-10">
            <input type="url" value="" name="MMERGE6" class="form-control url" id="mce-MMERGE6" placeholder="e.g. Dropbox / Google Drive link">
          </div>
        </div>
      
        <div id="mce-responses" class="form-group">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_ce05e28a1949a6fa80466834d_bd6ffd5cfe" tabindex="-1" value="">
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <span class="asterisk">*</span> indicates required
          </div>
        </div>
        
        <div class="form-group text-center">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Apply now !" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
          </div>
        </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <span class="subscribe-info">{{ site.subscribeInfo }}</span>
</div>
</section>
<!-- End Apply now Section -->