<!-- Footer Start -->
<footer id="footer" class="footer container text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0 text-center">
            
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                <a href="https://cloudbase.it/">
                    <img alt="Cloudbase Solutions Logo" class="img-responsive center-block" src="/img/CBSL_Logo_2016_RGB-39.png">
                </a>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12 text-center">
                <p>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}. All rights reserved.</p>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <a href="https://cloudbase.it/privacy/">Privacy Policy</a>
            </div>

        </div>
    </div>
</footer>
<!-- Footer End -->
