// Variables

$primary: #1a7bd3;
$dark: #0b141f;
$light: #fff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $dark;
$intro-text-color: $light;
$navbar-color: $light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary;
