.btn {
    border-radius: 3;
    font-family: "geomanistlbook", "Helvetica Neue",Helvetica,Arial,sans-serif;
    // font-weight: 400;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid $primary;
    outline: 0;
    color: #000;
    background-color: $primary;
}

.btn-primary {
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    background: $primary !important;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: #fff;
        background: $primary-hover;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
