// Modules and Variables
@import "partials/base";
@import "partials/mixins";

// Sections
@import "partials/apply-now";
@import "partials/contact";
@import "partials/team";
@import "partials/timeline";

// Third-party
@import "vendor/grayscale";
